<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LayeredBusinessModel.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Used to encrypt passwords -->
    <add key="PassPhrase" value="f0Ev9Pbdts5T4TAwh"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <!-- TODO: disable this in final version-->
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info@taboelaertraesa.com">
        <network host="smtp.gmail.com" port="587" userName="taboelaertraesa@gmail.com" password="KathoVives"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>

    <add name="ProjectConnection" connectionString="Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0473_boelaertraesasp;User Id=DB_9B0473_boelaertraesasp_admin;Password=KathoVives;" providerName="System.Data.SqlClient"/>
    <add name="local" connectionString="Data Source=(local);Initial Catalog=boelaert-raes-asp;Integrated Security = True;"/>

  </connectionStrings>

  <applicationSettings>
    <LayeredBusinessModel.WebUI.Properties.Settings>
      <setting name="LayeredBusinessModel_WebUI_wsCurrencyWebService_CurrencyWebService" serializeAs="String">
        <value>http://localhost:45896/CurrencyWebService.asmx</value>
      </setting>
    </LayeredBusinessModel.WebUI.Properties.Settings>
  </applicationSettings>
  
</configuration>
