body {
background: #fff;
font-family: 'Ubuntu', sans-serif;
font-size: 13px;
line-height: 20px;
color: #979797;
min-width: 1200px;
margin: 0;
padding: 0;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.15;
    margin-bottom: 0px;
}

ul, ol {
list-style: none;
margin:0;
}

input, select, textarea, button {
font: 12px Arial, Helvetica, sans-serif;
vertical-align: middle;
color: #000;
}


.top-container {    
    background: #282828;
    margin: 0;
    padding: 0;
}

.container {
    height:auto;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display:block;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    height:25px;
    position: relative;
    display:block;
    padding-right: 15px;
    padding-left: 15px;
}

.welcome {
    float: left;
    margin: -1px 0 0 0;
    font-weight: normal;
    font-size: 11px;
    color: #959494;
}

.header-buttons {
    float: right;
    padding: 3px 0 0 0;
}

.header-button {
    float: right;
    position: relative;
    margin-left: 22px;
}

.header-button.currency-list > a, .header-button.lang-list > a {
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    background: url(/images/select_arr.gif) no-repeat 100% 8px;
    padding: 0 7px 0 0;
    color: #989898;
}

.header-phone {
    float: right;
    position: relative;
    margin: 0 34px 0 0;
    padding: 0 0 0 18px;
    font-size: 14px;
    font-weight: normal;
    color: #989898;
}

header {
    height:185px;
    padding: 48px 0 0 0;
    border-bottom: solid 1px #eaeaea;
}

.header {
    padding: 0;
    position: relative;
}

.header .logo {
float: left; 
margin: 0 0 28px;
display: block;
width:100%;
}

.block-cart-header {
    float: right;
    background: url(/images/icon_cart.gif) no-repeat 0 0;
    padding: 10px 0 10px 63px;
    position: relative;
    margin: 14px 0 28px 0;
}

.main-search {
    float: right;
    position: relative;
    width: 570px;
    margin: 0 0 0 0;
    clear: right;   
    z-index: 5;
}

.links {
    float: left;
    margin-left:0;
    padding: 11px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}



.main-nav li {
    float: left;
    padding: 0;
    margin-right: 24px;
}



















